$color-scheme: hww;
$body-background-color: $prussian-blue: #13294bff;
$body-heading-color: $moss-green: #73bb54ff;
$body-text-color: $honeydew: #e1efe3ff;
$link-color: lighten($blue-000, 10%);
$nav-child-link-color: $honeydew: #e1efe3ff;
$sidebar-color: $blue-green: #009fd4ff;
$base-button-color: $sky-blue-light: #7fc3e1ff;
$btn-primary-color: $sky-blue-light: #7fc3e1ff;
$code-background-color: #0d1117; // github-dark bg color
$code-linenumber-color: #e6edf3; // github-dark line number color
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $sky-blue-light: #7fc3e1ff;
$search-background-color: $sky-blue-light: #7fc3e1ff;
$search-result-preview-color: $sky-blue-light: #7fc3e1ff;
$border-color: $sky-blue-light: #7fc3e1ff;

